# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
pintag-backend/node_modules
pintag-frontend/node_modules
pintag-frontend/pintag/node_modules
pintag-frontend/.pnp
pintag-frontend/pintag/.pnp
pintag-frontend/.pnp.js
pintag-frontend/pintag/.pnp.js

# testing
pintag-frontend/coverage
pintag-frontend/pintag/coverage

# production
pintag-frontend/build
pintag-frontend/pintag/build

# misc
pintag-frontend/.DS_Store
pintag-frontend/.env.local
pintag-frontend/.env.development.local
pintag-frontend/.env.test.local
pintag-frontend/.env.production.local
pintag-frontend/pintag/.DS_Store
pintag-frontend/pintag/.env.local
pintag-frontend/pintag/.env.development.local
pintag-frontend/pintag/.env.test.local
pintag-frontend/pintag/.env.production.local

pintag-frontend/npm-debug.log*
pintag-frontend/yarn-debug.log*
pintag-frontend/yarn-error.log*
pintag-frontend/pintag/npm-debug.log*
pintag-frontend/pintag/yarn-debug.log*
pintag-frontend/pintag/yarn-error.log*
